#about {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  /* background-color: #513aff; */
  /* background-color: rgba(0, 0, 0, 0.4); */
  background: linear-gradient(-30deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10rem 15%;
}
#about h5 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #89fc00;
}
.about-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.about-subtitle {
  letter-spacing: -0.01rem;
  color: white;
  text-align: center;
  font-size: 26px;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 5vw;
}
.my-picture {
  align-self: start;
  justify-self: end;
  height: auto;
  width: 30vw;
  border-radius: 10px;
  /* filter: sepia(80%) brightness(80%) hue-rotate(-20deg) contrast(105%);
  transition: transform 300ms, filter 300ms; */
}
.my-picture:hover {
  transform: scale(1.05);
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}
.about-container p {
  margin: 0;
  width: 30vw;
  font-size: 22px;
}
.about-text {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.5em;
}
.about-text ul {
  margin-left: -10px;
  font-size: 20px;
}
.toolkit {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.toolkit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  color: white;
}
.toolkit-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  color: white;
}
.toolkit-items {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
.toolkit-items > span {
  font-weight: 500;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border: 2px solid #89fc00;
  color: #89fc00;
  border-radius: 9999px;
  letter-spacing: normal;
  height: max-content;
  width: max-content;
}

.about-container .car {
  z-index: -10;
  font-size: 40px;
  align-self: flex-end;
  width: max-content;
  height: max-content;
  padding: 1rem 1rem;
  /* display: inline-block; */
  animation: car 5000ms ease-in-out 150ms infinite normal none;
}

@keyframes car {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  10%,
  15% {
    opacity: 1;
    transform: translateX(-50px);
  }
  100% {
    opacity: 0;
    transform: translateX(-50vw);
  }
}

@media (max-width: 400px) {
  #about {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  #about h2 {
    font-size: 40px;
    margin: 0 5px 2rem 5px;
  }
  .about-container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .my-picture {
    justify-self: center;
    width: 75vw;
  }
  .about-container p {
    margin: 2rem auto 2rem auto;
    align-self: center;
    justify-self: center;
    width: 75vw;
    font-size: 16px;
  }
  .about-text ul {
    margin-left: 2rem;
    font-size: 16px;
  }
}
