#about {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  background: linear-gradient(-30deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  display: flex;
  gap: 4rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10rem 15%;
}
#about h5 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #89fc00;
}
.about-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.about-subtitle {
  letter-spacing: -0.01rem;
  color: white;
  text-align: center;
  font-size: 26px;
}
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 5vw;
}
.my-picture {
  align-self: start;
  justify-self: end;
  height: auto;
  width: 30vw;
  border-radius: 10px;
  /* filter: sepia(80%) brightness(80%) hue-rotate(-20deg) contrast(105%);
  transition: transform 300ms, filter 300ms; */
}
.my-picture:hover {
  transform: scale(1.05);
  filter: sepia(0%) brightness(100%) hue-rotate(0deg);
}
.about-container p {
  margin: 0;
  width: 30vw;
  font-size: 22px;
}
.about-text {
  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 3rem;
  font-size: 22px;
  color: white;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.5em;
}
.toolkit-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  color: white;
}
.toolkit-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  color: white;
}
.toolkit-items {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
}
.toolkit-title {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}
.toolkit-items > span {
  font-weight: 500;
  font-size: 20px;
  padding: 0.5rem 1.5rem;
  border: 2px solid #89fc00;
  color: #89fc00;
  border-radius: 9999px;
  letter-spacing: normal;
  height: max-content;
  width: max-content;
}

@media (max-width: 500px) {
  #about {
    gap: 4rem;
    padding: 5rem 1rem;
    align-items: center;
  }
  #about h5 {
    font-size: 13vw;
    text-align: left;
    width: 90%;
    /* margin: 0 5px 2rem 5px; */
  }
  .about-container {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
  .my-picture {
    justify-self: center;
    width: 100%;
  }
  .about-container p {
    /* margin: 2rem auto 2rem auto; */
    align-self: center;
    justify-self: center;
    /* width: 75vw; */
    width: 90%;
    font-size: 18px;
  }
  .about-title {
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .about-subtitle {
    letter-spacing: -0.01rem;
    text-align: left;
    font-size: 20px;
    width: 90%;
  }
  .about-text {
    line-height: 1.2em;
  }
  .toolkit-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    font-size: 16px;
    color: white;
    width: 90%;
  }
  .toolkit-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-size: 16px;
    color: white;
  }
  .toolkit-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
  }
  .toolkit-title {
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
  }
  .toolkit-items > span {
    font-weight: 500;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
    border: 2px solid #89fc00;
    color: #89fc00;
    border-radius: 9999px;
    letter-spacing: normal;
    height: max-content;
    width: max-content;
  }
}
