#contact {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10rem 15%;
  position: relative;
  overflow: hidden;
}

#contact h6 {
  margin: 0;
  margin: auto;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #89fc00;
}

.contact-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  font-size: 60px;
  gap: 2rem;
}
.contact-subheading {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 18px;
}
.contact-subtitle {
  letter-spacing: -0.01rem;
  color: white;
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
}
.contact-subtitle span {
  font-weight: 600;
}
.links-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.5rem;
  /* width: 80px; */
  position: fixed;
  bottom: 10px;
  left: 0;
  height: auto;
  z-index: 99;
}
.link {
  font-size: 30px;
  /* width: 40px; */
  color: white;
  transition: color 200ms, transform 200ms;
  position: relative;
  z-index: 1;
}
.link:hover {
  transform: translateY(-3px);
  color: #89fc00;
  transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

label {
  font-size: 18px;
  color: white;
}
.entry {
  width: 100%;
  margin: 5px auto 5px auto;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  padding: 10px 10px;
}

#form {
  width: 40%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#submit {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: "Archivo", sans-serif;
  border-radius: 3px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  position: relative;
  z-index: 1;
  transition: background-color 200ms, transform 200ms;
  margin-top: 15px;
  cursor: pointer;
  z-index: 1;
}
#submit:hover {
  background-color: #89fc00;
  color: black;
  border-color: #89fc00;
  transform: scale(1.01);
  transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
button * {
  transition: opacity 0.3s ease-in;
}
button .loader {
  position: absolute;
  display: block;
  fill: transparent;
  top: calc(50% - 0.75rem);
  left: calc(50% - 0.75rem);
  width: 1.5rem;
  height: 1.5rem;
  animation: rotating 1.5s linear infinite;
  display: none;
  opacity: 0;
}
.success {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  fill: transparent;
  display: none;
  opacity: 0;
}
@-webkit-keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
button.loading span {
  color: transparent;
  opacity: 0;
}
button.loading .loader {
  fill: transparent;
  display: block;
  opacity: 1;
}

.petalbubble {
  position: absolute;
  top: 40rem;
  margin: 0 auto;
  background: linear-gradient(
    130deg,
    rgba(220, 0, 115, 0.5),
    rgba(220, 0, 115, 0.95)
  );
}
.bubble1 {
  width: 50vw;
  height: 50vw;
  right: -12rem;
  border-radius: 50%;
  animation: bubble-grow 15s ease-in-out infinite;
  z-index: -1;
}
.bubble2 {
  width: 40vw;
  height: 40vw;
  left: -12rem;
  top: 45rem;
  border-radius: 50%;
  animation: bubble-grow 17s ease-in-out infinite;
  z-index: -2;
}
.bubble3 {
  width: 60vw;
  height: 60vw;
  top: 40rem;
  left: 20vw;
  border-radius: 50%;
  animation: bubble-grow 13s ease-in-out infinite alternate-reverse;
  z-index: -3;
}
@keyframes bubble-grow {
  50% {
    transform: scale(1.1);
  }
}
@media (max-width: 500px) {
  #contact {
    gap: 4rem;
    padding: 5rem 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contact h6 {
    font-size: 15vw;
    text-align: left;
    /* margin: 0 5px 2rem 5px; */
  }
  #form {
    width: 95%;
    font-size: 16px;
  }
  label {
    font-size: 16px;
  }
  .entry {
    margin: 3px auto 3px auto;
    font-size: 16px;
    padding: 8px 8px;
  }
  .links-section {
    display: none;
  }
  .contact-title {
    align-items: flex-start;
    width: 95%;
    gap: 2rem;
  }
  .contact-subheading {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 18px;
  }
  .contact-subtitle {
    letter-spacing: -0.01rem;
    color: white;
    text-align: left;
    font-size: 20px;
    line-height: 1.2em;
  }
  .contact-subtitle span {
    font-weight: 600;
    text-align: left;
  }
  .petalbubble {
    top: 32rem;
  }
  .bubble1 {
    width: 70vw;
    height: 70vw;
    right: -8rem;
  }
  .bubble2 {
    width: 40vw;
    height: 40vw;
    left: -5rem;
    top: 35rem;
  }
  .bubble3 {
    width: 80vw;
    height: 80vw;
    top: 37rem;
    left: 10vw;
  }
}
