/* WORK SECTION */
#projects {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  background: linear-gradient(
    30deg,
    rgba(0, 0, 0, 0.4),
    rgba(78, 58, 255, 0.8)
  );
  display: flex;
  gap: 6rem;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10rem 10%;
}
#projects h4 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #89fc00;
  text-transform: uppercase;
}
.projects-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.projects-subtitle {
  letter-spacing: -0.01rem;
  color: white;
  text-align: center;
  font-size: 26px;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0rem 5rem 0rem 5rem;
  gap: 4rem;
}
.project-tile {
  font-size: 22px;
  letter-spacing: -0.01rem;
  position: relative;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-bottom: 20px;
  text-decoration: none;
  transition: color 300ms, transform 300ms, box-shadow 300ms;
  color: white;
  background: transparent;
  z-index: 1;
  opacity: 0;
}
.project-tile > span {
  font-size: 26px;
}

.project-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  z-index: 0;
}
.project-tile p {
  margin: 0;
  font-weight: 200;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 1.5em;
}

.project-tile a:last-child {
  font-size: 20px;
  padding: 0.8rem 1.6rem;
  border: 2px solid white;
  border-radius: 9999px;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: all 300ms ease;
  align-self: flex-end;
}
.project-tile a:hover {
  transform: translateY(-5px);
  font-weight: 600;
  color: black;
  border-color: #89fc00;
  background-color: #89fc00;
  transition: all 150ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
@media (max-width: 1600px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  #projects {
    gap: 5rem;
    padding: 5rem 1rem;
    align-items: center;
  }
  .projects-title {
    width: 95%;
  }
  #projects h4 {
    font-size: 13vw;
    text-align: left;
    align-self: flex-start;
    /* margin: 0 5px 2rem 5px; */
  }
  .projects-subtitle {
    text-align: left;
    font-size: 20px;
    line-height: 1.5em;
  }
  .projects-grid {
    grid-template-columns: 1fr;
    margin: 0;
    gap: 2rem;
    justify-items: center;
    /* margin: 0rem 3rem 0rem 3rem; */
  }
  .project-tile {
    height: max-content;
    width: 95%;
    padding: 0;
  }
  .project-tile a:last-child {
    font-size: 20px;
    padding: 0.8rem 2rem;
  }
  .project-img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: top center;
  }
}

#projects .projects-grid .reveal:nth-child(1) {
  animation-delay: 0ms;
}
#projects .projects-grid .reveal:nth-child(2) {
  animation-delay: 100ms;
}
#projects .projects-grid .reveal:nth-child(3) {
  animation-delay: 200ms;
}
#projects .projects-grid .reveal:nth-child(4) {
  animation-delay: 300ms;
}
