#promo {
  height: max-content;
  width: 100%;
  background: linear-gradient(
    190deg,
    rgba(220, 0, 115, 0.95),
    rgba(245, 147, 0, 0.95)
  );
  display: flex;
  gap: 6rem;
  justify-content: center;
  padding: 10rem 15%;
}
.promo-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  font-size: 60px;
  gap: 3rem;
}
#promo h3 {
  margin: 0;
  font-size: 60px;
  font-weight: 500;
  text-align: center;
  color: #89fc00;
}

.promo-text {
  letter-spacing: -0.01rem;
  width: 60%;
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5em;
}

.mglass {
  font-size: 40px;
  padding: 0.5em 4em;
  border: 3px solid #89fc00;
  border-radius: 9999px;
  color: #89fc00;
}

.emphasized {
  font-weight: 600;
  font-style: italic;
  font-size: 1.2em;
  letter-spacing: normal;
}

@media (max-width: 500px) {
  #promo {
    gap: 4rem;
    padding: 5rem 1rem;
    align-items: center;
    flex-direction: column;
  }
  #promo h3 {
    font-size: 10vw;
    /* margin: 0 5px 2rem 5px; */
  }
  .promo-header {
    width: 95%;
    gap: 3rem;
  }
  .mglass {
    font-size: 30px;
    padding: 0.5em 4em;
  }
  .promo-text {
    letter-spacing: -0.01rem;
    width: 95%;
    align-self: center;
    gap: 1rem;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
  }
  .emphasized {
    font-weight: 600;
    font-style: italic;
    font-size: 1.1em;
    letter-spacing: normal;
  }
}
