#services {
  min-height: 100vh;
  max-height: max-content;
  background: linear-gradient(
    60deg,
    rgba(0, 139, 248, 0.4),
    rgba(137, 252, 0, 0.5)
  );
  display: flex;
  flex-direction: column;
  gap: 6rem;
  justify-content: space-evenly;
  padding: 10rem 15%;
}
#services h5 {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  color: #89fc00;
  text-transform: uppercase;
}
.services-title {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.services-subtitle {
  letter-spacing: -0.01rem;
  color: white;
  text-align: center;
  font-size: 26px;
  line-height: 1.5em;
  width: 80%;
}
#services .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  gap: 2rem;
}
#services .icons span {
  display: inline-block;
  padding: 0.5rem;
  opacity: 0;
  color: white;
}

.services-text {
  letter-spacing: normal;
  width: 100%;
  align-self: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
}
ol {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0rem 5rem 0rem 5rem;
  grid-gap: 4rem;
}
.services-text li {
  letter-spacing: normal;
  height: fit-content;
}
.services-text li p {
  display: flex;
  flex-direction: column;
}
.services-text li span:first-child {
  font-weight: 600;
  font-size: 22px;
  padding: 0.5rem 1.5rem;
  border: 2px solid white;
  border-radius: 9999px;
  letter-spacing: normal;
  height: max-content;
  width: max-content;
}
.services-text li span:last-child {
  font-weight: 200;
  letter-spacing: normal;
  font-size: 20px;
}

@media (max-width: 500px) {
  #services {
    /* padding-top: 3rem;
    padding-bottom: 2rem; */
    gap: 4rem;
    padding: 5rem 1rem;
    align-items: center;
  }
  #services h5 {
    font-size: 13vw;
    /* margin: 0 5px 2rem 5px; */
  }
  .services-subtitle {
    letter-spacing: -0.01rem;
    font-size: 20px;
    line-height: 1.5em;
    width: 100%;
    text-align: center;
  }
  .services-title {
    align-items: center;
    width: 90%;
  }
  ol {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 0;
    margin: 0;
    /* margin: 0rem 3rem 0rem 3rem; */
  }
  .services-text {
    gap: 2rem;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5em;
  }
  .services-text li {
    letter-spacing: normal;
    height: fit-content;
  }
  .services-text li p {
    align-items: center;
  }
  #services .icons {
    font-size: 40px;
    gap: 1rem;
  }
  .services-text li span:first-child {
    font-weight: 600;
    font-size: 20px;
    padding: 0.5rem 1.5rem;
  }
  .services-text li span:last-child {
    font-weight: 300;
    letter-spacing: normal;
    font-size: 18px;
    width: 80%;
    text-align: center;
  }
}
@media (min-width: 1600px) {
  ol {
    grid-template-columns: repeat(2, 1fr);
  }
}

#services .icons .reveal:nth-child(1) {
  animation-delay: 0ms;
}
#services .icons .reveal:nth-child(2) {
  animation-delay: 100ms;
}
#services .icons .reveal:nth-child(3) {
  animation-delay: 200ms;
}
#services .icons .reveal:nth-child(4) {
  animation-delay: 300ms;
}

ol li p.reveal:nth-child(1) {
  animation-delay: 0ms;
}
ol li p.reveal:nth-child(2) {
  animation-delay: 500ms;
}
ol li p.reveal:nth-child(3) {
  animation-delay: 1500ms;
}
ol li p.reveal:nth-child(4) {
  animation-delay: 2000ms;
}
